@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:ital@1&family=Sora:wght@300&display=swap");

* {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Sora", sans-serif;
}

#top-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  height: 165px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 1300px;
}

#logo {
  margin-right: 70px;
}
#usp {
  display: flex;
  align-items: center;
}

.usp-details p {
  line-height: 25px;
  margin-right: 40px;
  margin-left: 15px;
  color: #aeaeae;
}
.usp-icons {
  margin: 10px;
  border-radius: 50%;
  background-color: #f2f2f2;
  padding: 15px;
}

.usp-icons i{
background-color: #f2f2f2;
}

#nav-container {
  margin-right: auto;
  margin-left: auto;
  height: 70px;
  width: 1200px;
  /* background-color: black; */
}

#nav-container ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  width: 1200px;
  height: 50px;
  line-height: 20px;
}

#nav-container ul li {
  background-color: black;
  padding: 15px;
}

#nav-container ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  background-color: black;
  padding: 0px 25px 0px 25px;
  height: 100%;
  z-index: 99999999999;
  padding: 5px;
}

#nav-container ul li a:hover {
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 7px;
  transition: 0.7s;
}

#nav-container li {
  background-color: black;
}

.hero {
  background-image: url(./images/sildeshow/page3-2.jpg);
  min-height: 1080px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -45px;
}


#container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

#left-slideshow {
  margin: 15px;
}

#up {
  margin: 0px 0px 15px 15px;
}

#down img {
  margin: 15px 0px 0px 15px;
  padding-left: 5px;
}

#divide-section {
  display: flex;
  flex-direction: column;
  margin-left: 23%;
  margin-right: 22%;
  margin-bottom: 25px;
  margin-top: 25px;
}

#divide {
  height: 1px;
  margin: 5px;
  background-color: #aeaeae;
  width: 100%;
}
#divide-section p {
  font-weight: bolder;
  color: black;
}

#divide-section-categ {
  display: flex;
  flex-direction: column;
  margin-left: 23%;
  margin-right: 22%;
  margin-bottom: 25px;
}

#divide-section-categ p {
  font-weight: bolder;
  color: black;

}

#divide-fot{
    height: 1px;
    background-color: #aeaeae;
    width: 100%;
}


#products-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 30px 0px;
}

.products {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 15px;
}

.product-image img {
  width: 215px;
  height: 260px;
  border: 1px solid #c9c9c9;
  padding: 15px;
}

.product-details p {
  margin-top: 5px;
}

#blog-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* margin: 50px 539px; */
}

#feat-categ {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  padding: 50px 0px;
  margin-bottom
}

.feat-categ-prod {
  margin: 20px;
}

.blog-box {
  margin-left: 35px;
  max-width: 450px;
}

.blog-box-info {
  display: flex;
}

.blog-box-date {
  border: solid 0.5px #c9c9c9;
  margin: 10px 15px 30px 0px;
  padding: 10px;
}

.blog-box-data {
  margin-top: 10px;
}

.blog-box-data p {
  line-height: 25px;
}

#brands-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 50px 0px;
}

.brand-item {
  margin: 5px 20px;
}

#fot-container {
  padding: 20px 0px;
  background-color: #f8f8f6;
}

#fot-content {
  display: flex;
  flex-direction: column;
  margin: 15px;
  background-color: #f8f8f6;
  padding: 20px 60px;
}

#about-simen {
  margin: 20px 0;
  background-color: #f8f8f6;
}
#about-simen h1 {
  background-color: #f8f8f6;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}
#about-simen h1 b {
  background-color: #f8f8f6;
  margin-left: 15px;
}
#about-simen p {
  background-color: #f8f8f6;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 180px;
  line-height: 28px;
  text-align: center;
}

#icons{
  background-color: #f8f8f6;
  margin-inline: 45%;
  padding-top: 15px;
}

#icons ul{
  display: flex;
  text-align: center;
  align-items: center;
  background-color: #f8f8f6;
  /* justify-content: space-between; */
  list-style-type: none;
  /* margin: 10px 492px; */
  flex-wrap: wrap;
  justify-content: space-between;
}

#icons ul li a {
  background-color: #f8f8f6;
}

#icons ul li a i {
  text-decoration: none;
  color:#ccc;
  background-color: #f8f8f6;
}


#fot-info {
  display: flex;
  flex-direction: row;
  justify-content:center ;
  background-color: #f8f8f6;
  flex-wrap: wrap;

  
}
#fot-info h3 {
  background-color: #f8f8f6;
  margin: 15px 0;
}
#fot-info h3 b {
  background-color: #f8f8f6;
}
#fot-info p {
  background-color: #f8f8f6;
  line-height: 30px;
}
.fot-cart {
  background-color: #f8f8f6;
  margin-inline: 100px;
  padding-top: 20px;
}

#fot-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color: #ffffff;
  flex-wrap: wrap;
  margin-inline-start: 25%;
  margin-inline-end: 25%;
  justify-content: space-around;
}

#signiture p {
  font-weight: bold;
  font-size: 20px;
  text-decoration: underline;
}

#paymal {
  size: 100px;
}



  @media screen and (max-width: 1550px) {

  .hero {
    background-position-y: -82px;
    min-height: 600px;
  }

  #logo img {
    max-width: 62%;

}
.feat-categ-prod img {
width: 250px ;
height: 250px ;
}
.blog-box{
  max-width: 390px;
}

footer p{
  font-size: 12px;
}
footer h1{
  font-size: 21px;
}

footer h3{
  font-size: 15px;
}

#signiture p {
  font-size: 16px;
}

}